<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') -%>
  <title>Contrat de location</title>
</head>

<body>
    <footer id="footer">
        <p align="center">paraphes</p>
    </footer>

<div class="container" align="justify">

<h2 align="center">CONTRAT DE LOCATION DE LOGEMENT À USAGE D'HABITATION PRINCIPALE
        <% switch (unit) {
            case 'maison_neufgrange' : %>
                NON MEUBLÉ <% break;
            case 'appart_a_neufgrange' : %>
                NON MEUBLÉ <% break;
            case 'appart_b_neufgrange' : %>
                NON MEUBLÉ <% break;
            case 'appart_belvedere_strasbourg' : %>
                NON MEUBLÉ <% break;
            case 'parking_belvedere_strasbourg' : %>
                NON MEUBLÉ <% break;
            case 'appart_et_parking_belvedere_strasbourg' : %>
                NON MEUBLÉ <% break;
            case 'appart_oriels_nancy' : %>
                MEUBLÉ <% break;
            case 'appart_4RCN_nancy' : %>
                MEUBLÉ <% break;
            } %>
    </h2>
<p align="center">Loi n° 89-462 du 6 juillet 1989 (J.O. du 8/07/89)</p>

<p>Le présent contrat est conclu entre les soussignés:</p>

<h5>BAILLEUR</h5>
<p><b><%= landlord_name %></b>, demeurant <b><%= landlord_address %></b></p>

<h5>LOCATAIRE(S)</h5>
<p><b><%= tenant_name %></b>, demeurant <b><%= tenant_address %></b></p>
<%if (cotenant_name) { %>
    <p><b><%= cotenant_name %></b>, demeurant <b> <%= cotenant_address %> </b></p>
<% } %>

<h5>OBJET DU CONTRAT</h5>
<p>Le BAILLEUR loue au LOCATAIRE, qui accepte, les locaux dont la désignation suit :</p>

<h5>DÉSIGNATION</h5>
<p><b>
<% switch (unit) {
case 'maison_neufgrange' : %>
    Une maison individuelle type F5 de 150 m2 sise 2 rue de Neufgrange, Hambach 57910 <% break;    
case 'appart_a_neufgrange' : %>
    Un appartement type F5 de 139 m2 sis 2a rue de Neufgrange, Hambach 57910 <% break;
case 'appart_b_neufgrange' : %>
    Un appartement type F5 de 139 m2 sis 2b rue de Neufgrange, Hambach 57910 <% break;
case 'appart_belvedere_strasbourg' : %>
    Un appartement F2 de 53 m2 sis 12 allée René Dumont, Illkirch-Graffenstaden 67400 <% break;
case 'parking_belvedere_strasbourg' : %>
    Un parking de 15 m2 sis rue Le Corbusier, Illkirch-Graffenstaden 67400 <% break;
case 'appart_et_parking_belvedere_strasbourg' : %>
    Un appartement F2 de 53 m2 sis 12 allée René Dumont, Illkirch-Graffenstaden 67400 et un parking sis rue Le Corbusier, Illkirch-Graffenstaden 67400 <% break;
case 'appart_oriels_nancy' : %>
    Un appartement meublé F2 de 65 m2 et parking sous-sol sis 5 allée du chanoine Drioton, Appartement B18, 54000 Nancy <% break;
case 'appart_4RCN_nancy' : %>
    Un appartement meublé F2 de 47 m2, parking sous-sol, cellier et équipements désignés sur l’inventaire ci-joint, sis 4 rue Charles Nicole, Appartement 154, 54000 Nancy <% break;
} %>
</b>
constitue "le bien loué" ou "le logement" au sens du présent contrat. Le LOCATAIRE déclare bien connaître le bien loué pour l'avoir préalablement visité.
</p>

<h5>DURÉE DU BAIL</h5>
<p>
Le bail est consenti pour 
<% switch (unit) {
case 'maison_neufgrange' : %>
    3 (trois) ans <% break;
case 'appart_a_neufgrange' : %>
    3 (trois) ans <% break;
case 'appart_b_neufgrange' : %>
    3 (trois) ans <% break;
case 'appart_belvedere_strasbourg' : %>
    3 (trois) ans <% break;
case 'parking_belvedere_strasbourg' : %>
    3 (trois) ans <% break;
case 'appart_et_parking_belvedere_strasbourg' : %>
    3 (trois) ans <% break;
case 'appart_oriels_nancy' : %>
    1 (un) an <% break;
case 'appart_4RCN_nancy' : %>
    1 (un) an <% break;
} %>
à compter du <b> <%= start_date %> </b> (année-mois-jour), renouvelable ensuite par tacite reconduction et par période de
<% switch (unit) {
    case 'maison_neufgrange' : %>
        3 (trois) ans <% break;
    case 'appart_a_neufgrange' : %>
        3 (trois) ans <% break;
    case 'appart_b_neufgrange' : %>
        3 (trois) ans <% break;
    case 'appart_belvedere_strasbourg' : %>
        3 (trois) ans <% break;
    case 'parking_belvedere_strasbourg' : %>
        3 (trois) ans <% break;
    case 'appart_et_parking_belvedere_strasbourg' : %>
        3 (trois) ans <% break;
    case 'appart_oriels_nancy' : %>
        1 (un) an <% break;
    case 'appart_4RCN_nancy' : %>
        1 (un) an <% break;
    } %>
 faute de congé préalable. Toutefois, le loyer sera révisé dans les conditions ci-dessous définies sous le titre "LOYER".
</p>

<h5>LOYER</h5>
<p>
La présente location est consentie et acceptée moyennant un loyer mensuel de <b> <%= rent_amount %> € (<%= rent_amount_written %> euros)</b>, qui sera payable mensuellement et d'avance, et pour la première fois au plus tard à la date de la remise des clefs au LOCATAIRE.
<br/><br/>
Le loyer ci-dessus sera automatiquement révisé chaque année à la date anniversaire de la prise d'effet du présent bail, en fonction de la variation de l'indice de référence des loyers publié par l'INSEE.
Le nouveau loyer prendra automatiquement effet à la date de révision ; il s'appliquera de manière rétroactive (ce qui donnera lieu à un rappel de loyers) dans le cas de retard de publication de l'indice.
</p>

<h5>CHARGES</h5>
<p>
<% switch (unit) {
    case 'maison_neufgrange' : %>
        Les charges sont forfaitairement fixées à <b>0 € (zéro euro)</b> par mois. <% break;
    case 'appart_a_neufgrange' : %>
        Les charges sont forfaitairement fixées à <b>0 € (zéro euro)</b> par mois. <% break;
    case 'appart_b_neufgrange' : %>
        Les charges sont forfaitairement fixées à <b>0 € (zéro euro)</b> par mois. <% break;
    case 'appart_belvedere_strasbourg' : %>
        Les charges sont forfaitairement fixées à <b>120 € (cent vingt euros)</b> par mois, comprenant toutes les charges de copropriété (entretien du bâtiment, charges de syndic, ascenseur, ...) et la fourniture d’eau, à l’exclusion de la taxe ordures ménagères. Elles seront acquittées selon les mêmes modalités que le loyer. <% break;
    case 'parking_belvedere_strasbourg' : %>
        Les charges sont forfaitairement fixées à <b>0 € (zéro euro)</b> par mois. <% break;
    case 'appart_et_parking_belvedere_strasbourg' : %>
        Les charges sont forfaitairement fixées à <b>120 € (cent vingt euros)</b> par mois, comprenant toutes les charges de copropriété (entretien du bâtiment, charges de syndic, ascenseur, ...) et la fourniture d’eau, à l’exclusion de la taxe ordures ménagères. Elles seront acquittées selon les mêmes modalités que le loyer. <% break;
    case 'appart_oriels_nancy' : %>
        Les charges sont forfaitairement fixées à <b>100 € (cent euros)</b> par mois, comprenant toutes les charges de copropriété (entretien du bâtiment, charges de syndic, ascenseur, ...) et la fourniture d’eau, à l’exclusion de la taxe ordures ménagères. Elles seront acquittées selon les mêmes modalités que le loyer. <% break;
    case 'appart_4RCN_nancy' : %>
        Les charges sont forfaitairement fixées à <b>100 € (cent euros)</b> par mois, comprenant toutes les charges de copropriété (entretien du bâtiment, charges de syndic, ascenseur, ...) et la fourniture d’eau, à l’exclusion de la taxe ordures ménagères. Elles seront acquittées selon les mêmes modalités que le loyer. <% break;
    } %>
</p>

<h5>PAIEMENT DU LOYER ET DES CHARGES</h5>
<p>
Tous paiements auront lieu par virement bancaire du LOCATAIRE au BAILLEUR à l'aide du RIB annexé.
<br/>
Lorsque le LOCATAIRE en fera la demande, le BAILLEUR sera tenu de lui transmettre une quittance gratuitement. Dans tous les cas où le LOCATAIRE effectuera un paiement partiel, le BAILLEUR sera tenu de lui délivrer un reçu.
La quittance portera le détail des sommes versées par le LOCATAIRE en distinguant le loyer et les charges.
</p>

<h5>DÉPÔT DE GARANTIE</h5>
<p>
Le LOCATAIRE verse avant la remise des clés, la somme de <b><%= rent_amount %> € (<%= rent_amount_written %> euros)</b> correspondant à un mois de loyer, à titre de dépôt de garantie de l'exécution de toutes les clauses du présent contrat.
Ce dépôt de garantie ne sera pas révisable ni productif d'intérêts.
Il sera restitué dans un délai maximum de deux mois à compter du départ du LOCATAIRE, déduction faite, le cas échéant, des sommes restant dues au BAILLEUR et des sommes dont celui-ci pourrait être tenu aux lieu et place du LOCATAIRE.
À défaut de restitution dans le délai prévu, le solde du dépôt de garantie restant dû au LOCATAIRE après arrêté des comptes produira intérêt au taux légal à son profit.
</p>

<h5>ÉTAT DES LIEUX</h5>
<p>
Un état des lieux sera établi, contradictoirement entre les parties le jour de la remise des clés.
Il résultera de ce document :
que le logement loué répond aux divers critères de "décence" ;
et qu'il est par ailleurs délivré en bon état d'usage et de réparations et que les équipements mentionnés au présent contrat sont en bon état de fonctionnement.
Un autre état des lieux sera établi, contradictoirement ou par huissier de justice, en fin de bail, lors de la restitution des clefs.
</p>

<h5>DESTINATION</h5>
<p>
Le logement loué est destiné exclusivement à l'habitation principale du LOCATAIRE. Celui-ci ne pourra donc y exercer aucune activité professionnelle, même libérale ni en faire sa résidence secondaire.
</p>

<h5>OBLIGATIONS DU LOCATAIRE</h5>
<p>
Le LOCATAIRE s'engage à exécuter toutes les obligations résultant de la présente convention et notamment celles suivantes :
<br/><br/>
1. Occupation, jouissance
<br/>Le LOCATAIRE usera du logement loué suivant la destination ci-dessus. Il s'engage à ne pas modifier cette destination. Le LOCATAIRE s'oblige à jouir paisiblement des lieux loués et à veiller en particulier à éviter bruit, odeur, ou l'exercice de toute activité de nature à générer des inconvénients de voisinage, qu'ils soient de son fait ou de celui des occupants de son chef.
Il s'interdit d'entreposer dans les lieux des matériels, matériaux ou substances susceptibles de présenter un inconvénient quelconque, un risque ou un danger même potentiel, pour le voisinage.
<% switch (unit) {
    case 'maison_neufgrange' : %>
        Le LOCATAIRE devra entretenir les pavés autobloquants devant le logement et le jardin en parfait état, en procédant au désherbage des abords de la maison. La modification des plantations ne pourra se faire qu'avec l'accord écrit du BAILLEUR.
        <% break;
    case 'appart_a_neufgrange' : %>
        Le LOCATAIRE devra entretenir les pavés autobloquants devant le logement et le jardin en parfait état, en procédant au désherbage des abords de la maison. La modification des plantations ne pourra se faire qu'avec l'accord écrit du BAILLEUR. Le caniveau sur la terrasse doit être nettoyé régulièrement et il faut toujours laisser le panier de protection.
        <% break;
    case 'appart_b_neufgrange' : %>
        Le LOCATAIRE devra entretenir les pavés autobloquants devant le logement et le jardin en parfait état, en procédant au désherbage des abords de la maison. La modification des plantations ne pourra se faire qu'avec l'accord écrit du BAILLEUR. Le caniveau sur la terrasse doit être nettoyé régulièrement et il faut toujours laisser le panier de protection.
        <% break;
    default : %>
        <% break;
    } %>
Le papier peint et les murs devront être maintenus propres et à la sortie remis dans leur couleur d'origine par le LOCATAIRE. Les interrupteurs ainsi que les prises et les plinthes ne doivent pas être mis en peinture. Il est interdit de fumer dans le logement.
Parquets et carrelage: le LOCATAIRE devra veiller à ce que les sols ne soient pas abîmés, en particulier par l'usage de talon dit "aiguilles". Si le salissement du parquet ou du carrelage, leur manque d'entretien ou leur dégradation rendait nécessaire en fin de bail une remise en état, son coût resterait à la charge du LOCATAIRE, dans la mesure où il ne pourrait pas être imputé à la vétusté mais à un usage anormal ou à un défaut d'entretien.
Le LOCATAIRE devra prendre toutes précautions nécessaires pour protéger du gel les canalisations d'eau ainsi que les compteurs. Il sera responsable des dégâts qui surviendraient du fait de sa négligence. Il devra de même prendre toutes les précautions nécessaires pour protéger le logement loué en cas de chutes de neige, d'orages d'inondations ou autres intempéries.
Le LOCATAIRE pourra détenir un animal familier à la condition qu'il ne cause aucun dégât à l'immeuble ni aucun trouble de jouissance aux voisins. La détention de tout animal n'entrant pas dans la catégorie des animaux familiers habituellement considérés comme des animaux de compagnie est interdite, et en particulier la détention d'un chien appartenant à la "catégorie" 1 ou 2 (Staffordshire, Pit-bull, Rottweiller, Tosca, etc.) est interdite.
Le BAILLEUR pourra visiter le bien loué ou la faire visiter par toute personne mandatée par lui, pour la surveillance et l'entretien de l'immeuble et de toutes les installations, toutes les fois que cela sera nécessaire, sous réserve d'en aviser préalablement le LOCATAIRE. Il pourra également, en vue de la vente ou de la relocation du bien louée, le faire visiter chaque jour ouvrable durant deux heures.
<br/><br/>
2. Dégradations des lieux loués
<br/>Le LOCATAIRE répondra des dégradations et pertes qui pourraient survenir pendant la durée du contrat dans le bien loué, à moins qu'il ne prouve qu'elles ont eu lieu par cas de force majeure, par faute du BAILLEUR, ou par le fait d'un tiers qu'il n'a pas introduit dans le logement.
Il pourra procéder à des enfoncements (chevilles) ou ancrages pour la fixation des meubles, miroirs, ou tableaux, dans les murs ou parois du logement loué, mais à charge de remettre les lieux en état lors de son départ, en procédant aux rebouchages et raccords de tapisserie (fibre) + peinture blanche si nécessaires. Il ne sera pas accepté de perçage dans tous les plafonds de la maison, ni au mur, ni au sol de la salle de bains. Il ne sera pas accepté de branchement d’appareil de chauffage supplémentaire sur les conduits de fumée existants.
<br/><br/>
3. Assurance
<br/>Le LOCATAIRE devra, pendant toute la durée du contrat, faire assurer le bien loué auprès d'une compagnie notoirement solvable et pour une somme suffisante contre les risques dont il doit répondre en sa qualité de LOCATAIRE, notamment, contre l'incendie, les dégâts des eaux, les risques locatifs et le recours des voisins. De la même manière, il devra également faire assurer son mobilier.
Il devra justifier de ces assurances au BAILLEUR chaque année, à première demande de celui-ci, par la production d'une attestation établie par son assureur.
<br/><br/>
4. Contributions et taxes
<br/>Le LOCATAIRE s'oblige à acquitter à leurs échéances toutes ses contributions personnelles, taxe d'habitation, d'enlèvement des ordures ménagères, et autres, de façon que le BAILLEUR ne puisse pas être inquiété à ce sujet. Le LOCATAIRE devra avant de quitter les lieux, justifier au BAILLEUR qu'il est à jour de toutes les impositions et taxes dont il serait redevable, ainsi que de sa consommation d'électricité et de gaz.
</p>

<h5>OBLIGATIONS DU PROPRIÉTAIRE</h5>
<p>
Les obligations du propriétaire sont actuellement énoncées par l'article 6 de la loi du 6 juillet 1989. Il est rappelé qu'en vertu de ce texte, le propriétaire est obligé :
<br/>- d'assurer au LOCATAIRE la jouissance paisible du logement et de le garantir des vices ou défauts de nature à y faire obstacle ;
<br/>- d'entretenir les locaux en état de servir à l'usage prévu par le contrat et d'y faire toutes les réparations autres que locatives nécessaires au maintien en état et à l'entretien normal des locaux loués ;
<br/>- de ne pas s'opposer aux aménagements réalisés par le LOCATAIRE dès lors que ceux-ci ne constituent pas une transformation des lieux loués.
</p>

<h5>TRAVAUX, RÉPARATIONS</h5>
<p>
Le LOCATAIRE aura à sa charge l'entretien courant du bien loué et les menues réparations ainsi que l'ensemble des réparations locatives définies par le décret d'application de l'article 7, d, de la loi du 6 juillet 1989.
Le LOCATAIRE s'oblige à aviser sans délai le BAILLEUR de tout dommage, ou dégradation, ou de tout sinistre survenant dans les lieux loués, et qui rendraient nécessaires des travaux ou réparations qui seraient à la charge du BAILLEUR. En cas de manquement à cet engagement, il sera responsable des préjudices de tous ordres causés par son silence ou son retard.
<br/><br/>
Le BAILLEUR sera tenu pour sa part, en application de l'article 6 de la loi précitée du 6 juillet 1989, d'entretenir le bien loué en état de servir à l'usage prévu par le contrat et d'y faire toutes les réparations, autres que locatives, nécessaires au maintien en état et à l'entretien normal du bien loué. Le LOCATAIRE s'engage à le prévenir immédiatement de toute réparation qui serait à sa charge.
<br/><br/>
Le LOCATAIRE devra souffrir sans indemnité la réalisation par le BAILLEUR des travaux d'amélioration des parties communes ou des parties privatives de l'immeuble ainsi que les travaux nécessaires au maintien en état et à l'entretien normal du bien loué, ainsi que les travaux d'amélioration de la performance énergétique à réaliser dans ces locaux. Mais, conformément aux dispositions des alinéas 2 et 3 de l'article 1724 du Code civil, si ces travaux durent plus de quarante jours, le loyer sera diminué à proportion du temps et de la partie du bien loué dont le LOCATAIRE aura été privé. Si les réparations sont de telle nature qu'elles rendent inhabitable ce qui est nécessaire au logement du LOCATAIRE et de sa famille, celui-ci pourra faire résilier le bail.
</p>

<h5>AMÉNAGEMENTS, TRANSFORMATIONS</h5>
<p>
Le LOCATAIRE ne pourra réaliser que des aménagements qui ne constitueront pas une transformation du bien loué.
En fin de bail ces aménagements resteront acquis au BAILLEUR sans indemnité, à moins qu'il préfère que les lieux soient remis dans leur état antérieur, ce qui devra alors être effectué par le LOCATAIRE et à ses frais.
Toute transformation nécessitera l'accord écrit du BAILLEUR. À défaut de cet accord, le BAILLEUR pourra exiger la remise en l'état des locaux ou des équipements, au départ du LOCATAIRE, ou conserver les transformations effectuées, sans que le LOCATAIRE puisse réclamer une indemnité pour les frais engagés.
Le BAILLEUR pourra également exiger, aux frais du LOCATAIRE, la remise immédiate des lieux en l'état au cas où les transformations mettraient en péril le bon fonctionnement des équipements ou la sécurité du local.
Le LOCATAIRE ne pourra faire aucun percement de mur, ou d'autre éléments du gros œuvre, ni aucune démolition sans avoir le consentement écrit préalable du BAILLEUR ou de son mandataire. Si le BAILLEUR le juge utile il pourra exiger, notamment pour des motifs d'esthétique ou de sécurité, que les travaux soient effectués sous la direction d'un architecte, aux frais du LOCATAIRE.
</p>

<h5>CESSION, SOUS-LOCATION</h5>
<p>
Le présent bail étant conclu en considération de la personne du LOCATAIRE, les lieux ne pourront être occupés que par lui, sa famille, les personnes dont il a la charge et les personnes qu'il déciderait d'héberger temporairement, sans toutefois qu'il puisse en résulter une suroccupation du logement.
Le LOCATAIRE ne peut non plus sous-louer ou céder les droits qu'il tient du présent bail sans l'accord écrit du BAILLEUR.
</p>

<h5>RÉSILIATION DU BAIL</h5>
<p>
Le LOCATAIRE peut mettre fin au bail à tout moment en respectant un préavis de 
<% switch (unit) {
    case 'maison_neufgrange' : %>
        3 (trois) <% break;
    case 'appart_a_neufgrange' : %>
        3 (trois) <% break;
    case 'appart_b_neufgrange' : %>
        3 (trois) <% break;
    case 'appart_belvedere_strasbourg' : %>
        1 (un) <% break;
    case 'parking_belvedere_strasbourg' : %>
        1 (un) <% break;
    case 'appart_et_parking_belvedere_strasbourg' : %>
        1 (un) <% break;
    case 'appart_oriels_nancy' : %>
        1 (un) <% break;
    case 'appart_4RCN_nancy' : %>
        1 (un) <% break;
    } %>
mois, après avoir donné congé par lettre recommandée avec accusé de réception.
Le délai de préavis commence à la date de réception de la lettre de congé par le BAILLEUR.
En cas de congé notifié par le LOCATAIRE, celui-ci sera redevable du loyer et des charges concernant tout le délai de préavis
sauf si le logement se trouve occupé avant la fin du délai de préavis par un autre LOCATAIRE en accord avec le BAILLEUR.
À l'expiration du délai de préavis, le LOCATAIRE sera déchu de tout titre d'occupation du bien loué.
Le LOCATAIRE s'engage à remettre immédiatement à son départ les clefs des locaux loués au BAILLEUR et à lui indiquer sa nouvelle adresse.
Toute remise des clés à une personne non habilitée par le BAILLEUR serait considérée comme inopérante.
</p>

<p>
Le BAILLEUR peut mettre fin au bail à son échéance et après avoir donné congé au moins 
<% switch (unit) {
    case 'maison_neufgrange' : %>
        6 (six) <% break;
    case 'appart_a_neufgrange' : %>
        6 (six) <% break;
    case 'appart_b_neufgrange' : %>
        6 (six) <% break;
    case 'appart_belvedere_strasbourg' : %>
        6 (six) <% break;
    case 'parking_belvedere_strasbourg' : %>
        6 (six) <% break;
    case 'appart_et_parking_belvedere_strasbourg' : %>
        6 (six) <% break;
    case 'appart_oriels_nancy' : %>
        3 (trois) <% break;
    case 'appart_4RCN_nancy' : %>
        3 (trois) <% break;
    } %>
mois avant l'échéance du contrat de bail. Le délai de préavis commence à la date de réception de la lettre de congé par le LOCATAIRE.
</p>

<p>
Le contrat de location est résilié de plein droit par le décès du LOCATAIRE.
</p>

<h5>CLAUSE PÉNALE</h5>
<p>
1. Défaut de paiement à l'échéance.
<br/>En application de l'article 1226 du Code civil, à défaut de paiement par le LOCATAIRE au terme convenu du loyer, de ses accessoires et de toute autre somme devenue exigible, les sommes impayées produiront de plein droit intérêt au taux légal au profit du BAILLEUR.
L'intérêt courra à partir du jour de l'exigibilité de la somme demeurée impayée, sans qu'une mise en demeure préalable soit nécessaire, le LOCATAIRE se trouvant en demeure par le seul effet de la survenance du terme.
<br/><br/>
2. Non-libération des lieux
<br/>À l'expiration du bail, que celle-ci résulte de l'arrivée du terme, d'une résiliation amiable ou d'une résiliation de plein droit ou judiciaire, si le LOCATAIRE ne quitte pas l'immeuble loué, pour quelque cause que ce soit, il devra une indemnité au BAILLEUR égale à CINQUANTE EUROS (50,00 €), par jour de retard. Cette indemnité ne mettra pas obstacle à la perception d'une indemnité d'occupation due par l'ancien LOCATAIRE, devenu occupant sans droit ni titre.
L'indemnité sera due à partir du jour où l'immeuble loué aurait dû être libéré, sans qu'une mise en demeure préalable soit nécessaire, le LOCATAIRE se trouvant en demeure par le seul effet de l'expiration du bail.
<br/><br/>
3. Portée de la clause
<br/>La présente clause pénale ne déroge pas à la clause résolutoire prévue ci-dessous. Elle ne préjudicie pas à la possibilité pour le BAILLEUR de demander l'expulsion du LOCATAIRE ni aux dommages-intérêts que le BAILLEUR pourrait être amené à réclamer en raison de la carence du LOCATAIRE.
</p>

<h5>CLAUSE DE SOLIDARITÉ</h5>
<p>
Pour l'exécution de toutes les obligations résultant du présent contrat, il y aura solidarité et indivisibilité entre les parties ci-dessus désignées sous le terme «LOCATAIRE». Le colocataire qui donnera congé restera ainsi notamment garant et répondant solidaire de celui demeurant dans les lieux loués, aux fins de garantir la bonne exécution du présent contrat et de ses suites.
</p>

<h5>CLAUSE RÉSOLUTOIRE</h5>
<p>
En cas de non-paiement à son échéance de l'une des sommes dues par le LOCATAIRE au titre du loyer ou des charges récupérables et deux mois après un commandement de payer délivré par huissier et resté sans effet, ou de non-respect de l'obligation d'user paisiblement des locaux loués, résultant de troubles de voisinage constatés par une décision de justice passée en force de chose jugée, la présente location sera résiliée de plein droit et l'expulsion du LOCATAIRE poursuivie, s'il y a lieu, sur simple ordonnance de référé, conformément à l'article 24 de la loi du 6 juillet 1989.
De même, en cas de défaut d'assurance du LOCATAIRE contre les risques dont il doit répondre en sa qualité de LOCATAIRE et un mois après un commandement de s'assurer resté sans effet, la présente location sera résiliée de plein droit, si bon semble au BAILLEUR, conformément à l'article 7 de la loi du 6 juillet 1989 précitée, et l'expulsion du LOCATAIRE poursuivie, s'il y a lieu, sur simple ordonnance de référé.
Le cas échéant, le commandement de payer devra être notifié à la caution par acte d'huissier dans un délai de quinze jours à compter de la signification du commandement au LOCATAIRE.
</p>

<% if(caution_name) { %> 
<h5>ACTE DE CAUTIONNEMENT</h5>
<p>
<%= caution_name %>, demeurant <%= caution_address %>, après avoir pris connaissance du présent contrat, déclare se porter caution solidaire du LOCATAIRE pour l’exécution des obligations découlant du présent bail et de ses suites, dans les conditions de l’engagement établi par acte séparé.
<% } %>
</p>

<p>
Le présent bail a été établi sous seing privé le &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; en
<% if(caution_name) { %> trois <% }else{ %> deux <% } %>
exemplaires originaux et remis à chacune des parties.
</p>

<h5>SIGNATURES</h5>

<p>
<table width="100%">
    <tr align="center"> <td>BAILLEUR</td> <td>LOCATAIRE(s)</td>
        <% if(caution_name) { %> <td>CAUTION</td> <% } %>
    </tr>
    <tr align="center"> <td>« lu et approuvé »</td> <td>« lu et approuvé »</td>
        <% if(caution_name) { %> <td>« lu et approuvé »</td> <% } %>
    </tr>
</table>
</p>

<% if(caution_name) { %>
<div class="pagebreak"> </div>

<h2 align="center">CAUTION SOLIDAIRE</h2>
<p>
<br/>
Je soussigné : <%= caution_name %>, demeurant : <%= caution_address %>,
<br/>déclare me porter caution solidaire, sans bénéfice de discussion ni de division, du règlement des loyers, charges, taxes, impôts, réparations locatives, toutes indemnités et intérêts de retard et frais éventuels de procédures dus par le LOCATAIRE :
<%= tenant_name %>, demeurant : <%= tenant_address %>
<br/>en vertu du bail consenti pour les locaux qu'il occupera à compter du : <%= start_date %>
<br/>du bien situé à :
<% switch (unit) {
    case 'maison_neufgrange' : %>
        2 rue de Neufgrange, Hambach 57910, <% break;
    case 'appart_a_neufgrange' : %>
        2a rue de Neufgrange, Hambach 57910, <% break;
    case 'appart_b_neufgrange' : %>
        2b rue de Neufgrange, Hambach 57910, <% break;
    case 'appart_belvedere_strasbourg' : %>
        12 allée René Dumont, Illkirch-Graffenstaden 67400, <% break;
    case 'parking_belvedere_strasbourg' : %>
        rue Le Corbusier, Illkirch-Graffenstaden 67400, <% break;
    case 'appart_et_parking_belvedere_strasbourg' : %>
        12 allée René Dumont, Illkirch-Graffenstaden 67400, <% break;
    case 'appart_oriels_nancy' : %>
        5, allée du chanoine Drioton, Appartement B18, Nancy 54000, <% break;
    case 'appart_4RCN_nancy' : %>
        4, rue Charles Nicole, Appartement 154, Nancy 54000, <% break;
    } %>
<br/>bail que j'ai signé après en avoir pris connaissance et dont un exemplaire m'a été remis.
<br/><br/>Je serais donc tenu de satisfaire à toutes les obligations de <%= tenant_name %>, LOCATAIRE, en cas de défaillance de sa part, à l'égard de, <%= landlord_name %>, BAILLEUR. Le cautionnement est donné pour une somme indéterminée et pour une durée indéterminée. La fin du bail met automatiquement et par conséquence un terme à la caution.
<br/><br/>Je confirme la connaissance que j'ai de la nature et de l'étendue de mes obligations en recopiant de ma main la mention ci-après : « Bon pour caution solidaire, ayant parfaitement connaissance de la nature et de l'étendue de l'obligation contractée, par moi-même qui m'engage à m'acquitter, en cas de défaillance du LOCATAIRE, les sommes dus, comprenant un loyer qui s'élève à <%= rent_amount %> € par mois. »
<br/><br/>Mention manuscrite du soussigné :
<div class="pagebreak"> </div>
Conformément aux dispositions de l'article 23 de la loi du 21/07/1994 (J.O. du 27/07), je recopie l'alinéa 1er de l'article précité reproduit ci-dessous :
<br/>« Lorsque le cautionnement d'obligations résultant d'un contrat de location ne comporte aucune indication de durée ou lorsque la durée du cautionnement est stipulée indéterminée, la caution peut résilier unilatéralement. La résiliation prend effet au terme du contrat de location, qu'il s'agisse du contrat initial ou d'un contrat reconduit ou renouvelé au cours duquel le BAILLEUR reçoit notification de la résiliation. »
<br/><br/>Mention manuscrite du soussigné :
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/>Pour l'exécution éventuelle de cet engagement, le tribunal du lieu de la location sera seul compétent.
<br/><br/>Fait à &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;, le &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;.
<br/><br/>Signature de la CAUTION, précédé de la mention « Lu et approuvé, bon pour caution »
<br/><br/><br/><br/>Signature du BAILLEUR, précédé de la mention « Lu et approuvé »
<br/><br/><br/><br/>
</p>

<% } %>

<% switch (unit) {
    case 'appart_4RCN_nancy' :
        // fall-through
    case 'appart_belvedere_strasbourg' :
        // fall-through
    case 'appart_et_parking_belvedere_strasbourg' :
        // fall-through
    case 'appart_oriels_nancy' : %>
        <div class="pagebreak"> </div>

        <h2 align="center">INVENTAIRE</h2>
        <!-- <br/> -->
        <% break;
    default : %>
        <% break;
} %>

<% switch (unit) {
    case 'appart_4RCN_nancy' : %>
        <p>4, rue Charles Nicole, Appartement 154, 54000 Nancy</p>
        <!-- <br/> -->
        <table>
            <!-- <tr class="blank_row"><td colspan="3"></td></tr> -->
            <tr><td colspan="3"><b>CUISINE:</b></td></tr>
            <tr><td>1 Table avec 2 rallonges</td>
                <td>3 Chaises tournantes avec housse</td>
                <td>1 Lave-vaisselle</td></tr>
            <tr><td>1 Four</td>
                <td>1 Hotte</td>
                <td>1 Cruche à eau</td></tr>
            <tr><td>1 Plat à tarte pour four</td>
                <td>10 Assiettes plates</td>
                <td>8 Assiettes à dessert</td></tr>
            <tr><td>3 Verres à eau</td>
                <td>2 Petits Rammequins</td>
                <td>4 Tasses</td></tr>
            <tr><td>5 Bols</td>
                <td>3 Petits Saladiers</td>
                <td>3 Passoires</td></tr>
            <tr><td>1 Poêle</td>
                <td>3 Casseroles</td>
                <td>3 Grands Couteaux</td></tr>
            <tr><td>1 Couteau à pain</td>
                <td>2 Tire-bouchons</td>
                <td>1 Petit Ciseau</td></tr>
            <tr><td>6 Petites Cuillères</td>
                <td>12 Fourchettes</td>
                <td>13 Grandes Cuillères</td></tr>
            <tr><td>9 Couteaux</td>
                <td>1 Réfrigérateur + Congélateur</td>
                </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>CHAMBRE:</b></td></tr>
            <tr><td>1 Lit avec sommier</td>
                <td>1 Matelas</td>
                <td>2 Tables de chevet</td></tr>
            <tr><td>1 Radio Réveil</td>
                <td>2 Miroir long</td>
                <td>1 Grand tableau</td></tr>
            <tr><td>1 Petit tableau</td>
                <td>1 Armoire</td>
                <td>1 Commode avec tiroir en osier</td></tr>
            <tr><td>1 Plafonnier</td>
                </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>SALLE DE BAINS:</b></td></tr>
            <tr><td>1 Meuble + Lavabo + Robinet</td>
                <td>1 Tablette + Miroir + Applique</td>
                <td>1 Plafonnier</td></tr>
            <tr><td>1 Lave-linge</td>
                </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
                <tr><td colspan="3"><b>WC:</b></td></tr>
                <tr><td>1 Commode</td>
                    <td>1 Tableau</td>
                    <td>1 Plafonnier</td></tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>COULOIR:</b></td></tr>
            <tr><td>1 Porte Manteau</td>
                <td>1 Tableau</td>
                <td>1 Miroir</td></tr>
            <tr><td>1 Placard avec étagère</td>
                <td>1 Petite Pelle + Balayette</td>
                <td>1 Aspirateur</td></tr>
            <tr><td>1 Balai</td>
                <td>1 Balai Brosse</td></tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>SALON:</b></td></tr>
            <tr><td>1 Bureau</td>
                <td>1 Poubelle</td>
                <td>1 Coffre</td></tr>
            <tr><td>1 Tableau</td>
                <td>1 Table</td>
                <td>4 Chaises</td></tr>
            <tr><td>1 Projecteur</td>
                <td>1 Télécommande projecteur</td>
                <td>1 Ecran déroulant</td>
                </tr>
            <tr><td>1 Télécommande écran déroulant</td>
                </tr>
            <tr><td>1 Table basse</td>
                <td>1 Meuble bas pour tv</td>
                <td>1 TV Selecline</td></tr>
            <tr><td>1 Télécommande TV</td>
                <td>3 Haut-Parleurs S80X</td>
                <td>1 Fauteuil</td></tr>
            <tr><td>1 Canapé + Housse</td>
                <td>1 Plafonnier</td>
                <td>1 Barre de rideau</td></tr>
            <tr><td>1 Meuble avec 4 éléments</td>
                <td>6 Verres hauts Kirin</td>
                <td>5 Verres hauts Asahi</td></tr>
            <tr><td>4 Verres à vin</td>
                <td>4 Tasses</td>
                <td>4 Tasses + sous tasse</td></tr>
            <tr><td>3 Petits plats</td>
                <td>3 Tasses différentes</td>
                <td>2 Petits Ramequins avec couvercle</td></tr>
            <tr><td>5 Petits Bols</td>
                </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>TERRASSE:</b></td></tr>
            <tr><td>1 Table bleue</td>
                <td>2 Chaises bleues</td>
                <td>4 Chaises brunes</td></tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>CLES:</b></td></tr>
            <tr><td>3 clés d'appartement</td>
                <td>2 clés Vigik d'immeuble</td>
                <td>2 clés de boîte à lettre</td></tr>
            <tr><td>1 clé de cellier</td>
                <td>1 télécommande porte de garage</td></tr>
        </table>

        <% break;
    case 'appart_belvedere_strasbourg' :
        // fall-through
    case 'appart_et_parking_belvedere_strasbourg' : %>
        <p>Le Belvedere 2: 12 allée René Dumont, Illkirch-Graffenstaden 67400</p>
        <table>
            <tr><td colspan="3"><b>SALLE DE BAIN:</b></td></tr>
            <tr><td>1 machine à laver</td>
            </tr>
        </table>
        <% break;
    case 'appart_oriels_nancy' : %>
        <p>Les Oriels: 5, allée du chanoine Drioton, Appartement B18, 54000 Nancy</p>
        <!-- <br/> -->
        <table>
            <!-- <tr class="blank_row"><td colspan="3"></td></tr> -->
            <tr><td colspan="3"><b>CUISINE:</b></td></tr>
            <tr><td>8 Verres à Bourgogne</td>
                <td>5 Flûtes</td>
                <td>4 Verres à Bière</td></tr>
            <tr><td>4 Verres à vin Ordinaire</td>
                <td>8 Verres à Eau</td>
                <td>5 Verres à Liqueur (4+1 à pied)</td></tr>
            <tr><td>1 Entonnoir</td>
                <td>2 Tasses à vin Chaud</td>
                <td>14 Verrines</td></tr>
            <tr><td>7 Tasses à café</td>
                <td>4 Bois Chinois</td>
                <td>6 Mugs</td></tr>
            <tr><td>1 Verre à Thé</td>
                <td>3 Bols</td>
                <td>3 Plats à four</td></tr>
            <tr><td>1 Râpe</td>
                <td>1 Moulin pour Tête de Moine</td>
                <td>2 Plats à gâteau</td></tr>
            <tr><td>3 Assiettes en verre</td>
                <td>6 Assiettes creuses</td>
                <td>6 Assiettes plates</td></tr>
            <tr><td>5 Assiettes à dessert</td>
                <td>6 Sous tasses</td>
                <td>1 Sucrier</td></tr>
            <tr><td>1 Rouleau à Pâtisserie</td>
                <td>1 Grand vase en verre avec bougie</td>
                <td>1 Planche à découper en verre</td></tr>
            <tr><td>1 Corbeille à fruits</td>
                <td>1 Plateau en bois</td>
                <td>2 Bols dessert</td></tr>
            <tr><td>1 Cruche</td>
                <td>1 Service fondue</td>
                <td>5 Saladiers</td></tr>
            <tr><td>6 Fourchettes</td>
                <td>6 Cuillères</td>
                <td>6 Petites Cuillères</td></tr>
            <tr><td>4 Fourchettes à Gâteau</td>
                <td>3 Spatules</td>
                <td>1 Louche</td></tr>
            <tr><td>1 Fouet</td>
                <td>1 Cocotte Minute</td>
                <td>1 Balance de cuisine</td></tr>
            <tr><td>1 petite Passoire</td>
                <td>1 Passoire à Farine</td>
                <td>3 Récipients: sucre, café, thé</td></tr>
            <tr><td>1 bac plastique</td>
                <td>1 Tire Bouchon</td>
                <td>1 Grille à Gâteau</td></tr>
            <tr><td>4 Casseroles</td>
                <td>3 Sauteuses</td>
                <td>1 Faitout</td></tr>
            <tr><td>1 ouvre boîte électrique</td>
                <td>1 Planche à découper</td>
                <td>1 Poubelle deux compartiments</td></tr>
            <tr><td>1 Micro ondes</td>
                <td>1 sous plats</td>
                <td>1 Corbeille à pain</td></tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>SALON/ SALLE A MANGER:</b></td></tr>
            <tr><td>1 Canapé</td>
                <td>1 Table à manger</td>
                <td>1 Table basse</td></tr>
            <tr><td>4 Chaises</td>
                <td>1 Armoire</td>
                <td>1 Meuble TV</td></tr>
            <tr><td>1 Grand tableau moderne</td>
                <td>1 Vase</td>
                <td>1 Décoration vase avec fleur (vert)</td></tr>
            <tr><td>1 Bureau</td>
                <td>1 Lampe de bureau</td>
                <td>1 Buffet</td></tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>CHAMBRE:</b></td></tr>
            <tr><td>1 Lit</td>
                <td>1 Matelas</td>
                <td>1 Protège matelas</td></tr>
            <tr><td>2 Oreillers</td>
                <td>1 Couette</td>
                <td>1 Commode</td>
            <tr><td>1 Tableau (Nice)</td>
            </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>TERRASSE:</b></td></tr>
            <tr><td>2 Chaises noires de salon de jardin</td>
            </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>W C:</b></td></tr>
            <tr><td>1 Brosse WC</td>
                <td>1 Balai Brosse</td>
                <td>2 Balayettes</td></tr>
            <tr><td>1 Balai</td>
                <td>1 Petite pelle</td>
                <td>1 Seau</td></tr>
            </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>COULOIR:</b></td></tr>
            <tr><td>1 Tableau dans entrée</td>
                <td>1 Aspirateur</td>
                <td>2 Tabourets</td></tr>
            <tr><td>1 Étendoir à linge</td>
                <td>1 Table à repasser</td>
                <td>1 Escabeau</td></tr>
            <tr><td>1 Petit escabeau</td>
            </tr>
            <tr class="blank_row"><td colspan="3"></td></tr>
            <tr><td colspan="3"><b>SALLE DE BAINS:</b></td></tr>
            <tr><td>1 Machine à laver verticale</td>
                <td>1 Panier à linge</td>
            </tr>
        </table>

        <% break;
    default : %>
        <% break;
} %>

</div>

</body>
</html>
